@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.card {
		transform-style: preserve-3d;

		&::before {
			left: -0.125rem;
			width: calc(100% + 0.25rem);
			transform: translate3d(0, 0, -1rem);
		}

		&.popped {
			transform: translateY(-0.5rem);

			&::before {
				transform: translate3d(0, 0.5rem, -1rem);
			}
		}

		@media (hover: hover) {
			&.hoverable {
				&:hover {
					transform: translateY(-0.5rem);

					&::before {
						transform: translate3d(0, 0.5rem, -1rem);
					}
				}

				&:active {
					transform: translateY(0);

					&::before {
						transform: translate3d(0, 0, -1rem);
					}
				}
			}
		}

		@apply relative rounded-lg border-2 border-black bg-white px-4 py-2 font-mono uppercase text-black shadow-xl ring-black transition-transform duration-200 ease-in-out before:absolute before:top-0 before:h-full before:rounded-lg before:border-inherit before:bg-black before:shadow-md before:duration-200 before:ease-in-out motion-reduce:transition-none dark:border-white dark:bg-black dark:text-white dark:ring-white dark:before:bg-white;
	}
}

:root {
	--header-height: 6.5rem;
}
